@import "../../../styles/mixin";

.header {
  user-select: none;

  &__logo {
    cursor: pointer;
  }

  &__search {
    @include responsive(tablet) {
      display: none;
    }

    @include responsive(phone) {
      display: none;
    }
  }

  &__menu {
    @include responsive(tablet) {
      display: none;
    }

    @include responsive(phone) {
      display: none;
    }
  }
}

.HeaderMenu-Link_active::before {
  padding: 0 12px;
}
